/* CourseOverview.css */
/* CSS file to make animation for the course level buttons */
/* Scaling effect for the course buttons */
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.intro-tooltip {
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 1rem;
  opacity: 1;
  background-color: white;
}



.course-button {
  transition: transform 0.3s ease-in-out;
}

/* Add delay to each button to create a sequence effect */
.course-button:nth-child(1) {
  animation: scaleUp 1s ease-in-out 1s forwards;
}

.course-button:nth-child(2) {
  animation: scaleUp 1s ease-in-out 1.5s forwards;
}

.course-button:nth-child(3) {
  animation: scaleUp 1s ease-in-out 2s forwards;
}

/* Disable the fade-out animation */
.fade-out-tooltip {
  animation: none;
}
